.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.footer .copy {
  font-weight: 100;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  line-height: 10px;
}

.footer span {
  font-weight: 400;
  font-size: medium;
}

.footer a.name {
  text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
